In [1]:
import pandas as pd

In [65]:
gu = pd.read_csv("./save/data1.csv")
p = pd.read_csv("./data/gu_pop.csv")

In [74]:
gu

,Unnamed: 0,관광지명,도로명주소,중분류 카테고리,소분류 카테고리,구군명,구군명(영어)
0,0,해동용궁사,부산 기장군 용궁길 86-0,역사관광지,절,기장군,Gijang-gun
1,1,장안사,부산 기장군 장안로 482-0,역사관광지,절,기장군,Gijang-gun
2,2,아홉산숲,부산 기장군 미동길 37-1,휴양관광지,동식물원,기장군,Gijang-gun
3,3,국립부산과학관,부산 기장군 동부산관광6로 59-0,문화시설,과학관,기장군,Gijang-gun
4,4,아난티코브,부산 기장군 기장해안로 268-32,휴양관광지,종합위락시설,기장군,Gijang-gun
...,...,...,...,...,...,...,...
1377,1377,자화정사,부산 서구 천마로113번길 16-1,역사관광지,절,서구,Seo-gu
1378,1378,용문사,부산 서구 암남공원로 60-4,역사관광지,절,서구,Seo-gu
1379,1379,금수암,부산 서구 꽃마을로87번길 18-0,역사관광지,절,서구,Seo-gu
1380,1380,보문사,부산 서구 천마산로 227-0,역사관광지,절,서구,Seo-gu
1381,1381,경남고등학교덕형도서관,부산 서구 망양로111번길 65-0,문화시설,문화생활시설기타,서구,Seo-gu

In [68]:
p = p.reset_index(drop = True)

In [69]:
p.to_csv("./save/data_pop.csv")

In [71]:
gu_count = gu.groupby(["구군명"]).count()

In [83]:
gu_count["소계"] = gu_count["구군명(영어)"]

In [103]:
gu_count.to_csv("./save/Gucount.csv")

In [108]:
gu2 = pd.read_csv("./save/Gucount.csv")

In [107]:
gu2

     구군명   소계
0    강서구   54
1    금정구  133
2    기장군  153
3     남구   85
4     동구   80
5    동래구   98
6   부산진구  127
7     북구   65
8    사상구   56
9    사하구   68
10    서구   55
11   수영구   77
12   연제구   55
13   영도구   60
14    중구   57
15  해운대구  159